.ae-ui [class^='ae-toolbar-'] .word-suggestion-area
{
    flex-basis: 100%;
    padding: 5px;
    .ae-button.ez-btn-ae--word_suggestion
    {
        font-size: 24px;
        height: auto;
        width: auto;
        display: inline-block;
        margin-right: 10px;
        &:last-child
        {
            margin-right: 0;
        }
    }
}